<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDm9h7kMmdqsE-wZZjNdPiHKf-pAcQrkug" />

        <activity
            android:name=".ui.view.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".ui.view.main.MainActivity"  />
        <activity
            android:name=".ui.view.detail_story.DetailStoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.main.MainActivity" />
        <activity
            android:name=".ui.view.upload_story.UploadActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.main.MainActivity" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.register.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".ui.view.login.LoginActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".ui.view.welcome.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.google.android.gms.common.download.DownloadService"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>